<% if current_user!= nil && ( current_user.username == 'sierramclawhorn' || current_user.username == 'lisadevon' ) %>
	<%= link_to 'New Post', new_post_path %>
  <br><br>
<% end %>

<div class='posts columns'>

	<div class='left sierra'>
		<% @sierras.reverse_each do |post| %>
			<div class='titleTxt'>
				<%= link_to post.title, post_path(post.id) %>
			</div>
			<div class='dateTxt'>
				<%= post.date %>
			</div>
			<div class='bodyTxt'>
				<%= raw post.body %>
			</div>
			<div class='authorTxt'>
				~ sierra
			</div>
			<br><br>
		<% end %>
	</div>

	<div class='right lisa'>
		<% @lisas.reverse_each do |post| %>
			<div class='titleTxt'>
				<%= link_to post.title, post_path(post.id) %>
			</div>
			<div class='dateTxt'>
				<%= post.date %>
			</div>
			<div class='bodyTxt'>
				<%= raw post.body %>
			</div>
			<div class='authorTxt'>
				~ lisa
			</div>
			<br><br>
		<% end %>
	</div>

</div>